In [6]:
import warnings
warnings.filterwarnings("ignore", message="numpy.dtype size changed")
import mysql.connector as mysql
import bcrypt
from IPython.core.display import display, HTML
from IPython.display import Javascript, display
from ipywidgets import widgets

#Widen cells
#display(HTML("<style>.container { width:55% !important; }</style>"))

#Adding Buttons
import IPython.core.display as di # Example: di.display_html('<h3>%s:</h3>' % str, raw=True)

#Execute all bellow button
di.display_html('<h1>MySQL SERVER</h1>', raw=True)
                                                                            #Function/Input/Output
di.display_html('''<form action="javascript:IPython.notebook.execute_cells([1,2,3,6,7]);">
<input type="submit" id="toggleButton" value="Start Processing"></form>''', raw=True)

HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off 
the raw code."></form>''')

In [9]:
server = 'foodtray.co.uk'
prt = '3306'
db = 'foodtray-7261'
username = 'master-SK21'
pwd = 's5hhYSr@LRyD'

conn = mysql.connect(host=server,
                     user=username, 
                     password=pwd, 
                     port=prt, 
                     database=db)

cursor = conn.cursor()

In [9]:
cursor.execute("SHOW TABLES LIKE 'accounts'") # Select Tables like accounts
result = cursor.fetchone() # Fetch the first result

htmlList = "Created Tables: <ul>" # HTMLList will be used to show created tables.

# If result is false then create the following table.
if not result :
    cursor.execute('''CREATE TABLE accounts(
                    id int NOT NULL,
                    username varChar(15) NOT NULL,
                    password Char(60) Binary NOT NULL,
                    firstName varChar(35) NOT NULL,
                    lastName varChar(35) NOT NULL,
                    age int NOT NULL,
                    email varChar(60) NOT NULL,
                    telephoneNumber varChar(12) NOT NULL,
                    role varChar(15) NOT NULL,
                    CONSTRAINT PK_accountID PRIMARY KEY(id))''')
    
    htmlList += "<li>Accounts Table</li>" # List the table after creation.    
    
#### ----------------------------------------------------------------------

cursor.execute("SHOW TABLES LIKE 'products'") # Select Tables like Products    
result = cursor.fetchone() # Fetch the first result.

#If result is false then create the following table.
if not result :
    cursor.execute('''CREATE TABLE products(
                id int NOT NULL,
                name varChar(40) NOT NULL,
                category varChar(20) NOT NULL,
                price decimal(13,2) NOT NULL,
                calories int,
                allergies TEXT,
                availability int NOT NULL,
                img varChar(125),
                CONSTRAINT PK_productID PRIMARY KEY(id))''')
    
    htmlList += "<li>Products Table</li>" # List the table after creation. 

#### ----------------------------------------------------------------------

cursor.execute("SHOW TABLES LIKE 'orders'") # Select Tables like orders
result = cursor.fetchone() # Fetch the first result
    
#If result is false then create the following table.
if not result :
    cursor.execute('''CREATE TABLE orders(
                    id varChar(15) NOT NULL,
                    productID int NOT NULL,
                    customerID int NOT NULL,
                    staffID int NOT NULL,
                    customerFName varchar(15) NOT NULL,
                    customerLName varchar(15) NOT NULL,
                    productName varchar(40) NOT NULL,
                    productCategory varchar(20) NOT NULL,
                    staffFName varchar(15),
                    staffLName varchar(15),
                    orderPrice varchar(5) NOT NULL,
                    tstamp datetime NOT NULL,
                    CONSTRAINT PK_orderID PRIMARY KEY(id),
                    CONSTRAINT FK_productID FOREIGN KEY(productID) REFERENCES products(id),
                    CONSTRAINT FK_customerID FOREIGN KEY(customerID) REFERENCES accounts(id),
                    CONSTRAINT FK_staffID FOREIGN KEY(staffID) REFERENCES accounts(id))''')
    
    htmlList += """<li>Orders Table</li>
                <li>Added Relationship to Accounts Table</li>
                <li>Added Relationship to Products Table</li>""" # List the table after creation. 
    
#### ----------------------------------------------------------------------
    
htmlList += "</ul>"

HTML(htmlList)

In [5]:
cursor.execute('SELECT * FROM accounts')

for row in cursor :
    print(row)

NameError: name 'cursor' is not defined

*Manual Administration*

In [4]:
#Manual USER ACCOUNT Administration
username = input("Enter username: ")
password = input("Enter password: ")
b = password.encode('utf-8') # Encodes the password
password = bcrypt.hashpw(b, bcrypt.gensalt(11, prefix=b'2a')).decode('utf-8') # Generates a password HASH
firstName = input("Enter first Name: ")
lastName = input("Enter Last Name: ")
age = int(input("Enter Age: "))
email = input("Enter Email: ")
telephone = input("Enter Telephone: ")
role = input("Enter Role: ")

# Makes sure to generate a new ID for each account
cursor.execute('SELECT * FROM accounts') 
index = 0
for row in cursor :
    index = row[0]
    
# If cursor.rowcount is more than 0, 0+ ID's available
if (cursor.rowcount > 0) :
    index += 1 # Adds +1 to existing ID 

# Adds inserts data into the row of the database
cursor.execute('''INSERT INTO accounts(id, username, password, firstName, lastName, age, email,
telephoneNumber, role) VALUES(''' + str(index) + ", '" + username + "', " + '"' + str(password) + '"'
               + ", '" + firstName + "', '" + lastName + "', " + str(age) + ", '" + email 
               + "', '" + telephone + "', '" + role + "')") 

conn.commit() # Commits changes to database

Enter username: 1702760
Enter password: Changemakers1
Enter first Name: Joseph
Enter Last Name: Ross
Enter Age: 21
Enter Email: 1702760@student.uwtsd.ac.uk
Enter Telephone: 012792 615521
Enter Role: Student

NameError: name 'cursor' is not defined

In [ ]:
#Manual PRODUCT Administration
category = input("Enter product category: ")
name = input("Enter product name: ")
price = float(input("Enter product price: £"))
calories = int(input("Enter product calories: "))

print("List allergies: ")
allergies = input()

availability = input("Enter product availability: ")
imgPath = input("Enter image path: ")

cursor.execute('SELECT * FROM products') 
index = 0
for row in cursor :
    index = row[0]
    
# If cursor.rowcount is more than 0, 0+ ID's available
if (cursor.rowcount > 0) :
    index += 1
    
cursor.execute('''INSERT INTO products(id, name, category, price, calories, allergies, availability, img)
VALUES(''' + str(index) + ", '" + name + "', '" + category + "', " + str(price) + ", " + str(calories) 
               + ", '" + allergies + "', " + str(availability) + ", '" + imgPath + "')")

conn.commit()